<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Happily working from Lyon, France <i class="fa fa-heart"></i></span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/ochelys" title="Ochelys on Twitter"><i class="fa fa-twitter"></i><span class="sr-only">Ochelys on Twitter</span></a></li>
          <li><a href="https://www.linkedin.com/company/ochelys" title="Ochelys on LinkedIn"><i class="fa fa-linkedin"></i><span class="sr-only">Ochelys on LinkedIn</span></a></li>
          <li><a href="https://github.com/Ochelys" title="Ochelys on Github"><i class="fa fa-github"></i><span class="sr-only">Ochelys on Github</span></a></li>
        </ul>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</footer>
