<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Fièrement implanté sur Lyon <i class="fa fa-heart"></i></span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/ochelys" title="Ochelys sur Twitter"><i class="fa fa-twitter"></i><span class="sr-only">Ochelys sur Twitter</span></a></li>
          <li><a href="https://www.linkedin.com/company/ochelys" title="Ochelys sur LinkedIn"><i class="fa fa-linkedin"></i><span class="sr-only">Ochelys sur LinkedIn</span></a></li>
          <li><a href="https://github.com/Ochelys" title="Ochelys sur Github"><i class="fa fa-github"></i><span class="sr-only">Ochelys sur Github</span></a></li>
        </ul>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</footer>
