<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Afficher le menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="/images/logo-ochelys.png" alt="Ochelys">
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#nos-methodes" class="page-scroll">Nos méthodes</a></li>
        <li><a href="#nos-realisations" class="page-scroll">Nos réalisations</a></li>
        <li><a href="#notre-equipe" class="page-scroll">Notre équipe</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
        <li><a href="/en" lang="en">🇬🇧 English version</a></li>
      </ul>
    </div>
  </div>
</nav>
