<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery-ui.min.js"></script>
<script src="{{ site.baseurl }}/js/animated-header.js"></script>
<script src="{{ site.baseurl }}/js/page-scroll.js"></script>
<script src="https://use.fontawesome.com/b387c88a73.js"></script>
<script>
$(function() {
    var fonts = 'https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700,400italic,700italic|Montserrat:400,700';
    if (document.createStyleSheet) document.createStyleSheet(fonts);
    else $("head").append($("<link rel='stylesheet' href='"+ fonts +"' type='text/css' media='screen' />"));
});
</script>