.jumbotron {
  text-align: center;
  color: #fff;
  background: #000 no-repeat scroll top center;
  background-size: cover;
  padding-top: 6em;
  position: relative;
  &.jumbotron-default-image {
    background-image: url('/images/working-together.jpg');
  }
  
  &>.container {
    position: relative;
    z-index: 1;
  }
  
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    pointer-events: none;
  }
}
.jumbotron-title {
  font-family: "Droid Serif","Times New Roman",Times,serif;
  font-size: 1.5em;
  font-style: italic;
  text-transform: none;
}
p.jumbotron-text {
  font-size: 1.25em;
}
.jumbotron-btn {
  padding: .8em;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media(min-width:768px) {
  .jumbotron {
    padding-top: 8em;
  }
  .jumbotron-title {
    font-size: 2em;
  }

  .jumbotron-text {
    font-size: 2em;
  }
}
