.site-title {
  margin: 0;
}
.navbar-brand {
  height: auto;
  padding: 10px;

  img {
    display: inline-block;
    height: 50px;
  }
}

.navbar {
  .nav-item {
    padding: 0 1em;
    .nav-link {
      color: #fff;
      text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: .8em;
      letter-spacing: .1em;
      border-radius: 3px;
      transition: line-height .3s, font-size .3s;

      &:focus,
      &:hover {
        color: #98ca3d;
      }

      &.active {
        color: #000;
        background-color: #98ca3d;
      }
    }
  }
}

.navbar-toggle {
  margin-top: 18px;
}
.navbar-collapse.collapsing,
.navbar-collapse.show {
  // Ensure links are readable when the nav is toggled on a small screen
  background-color: #222 !important;

  #pagelinks {
    margin-top: 1rem;
  }
  .nav-item {
    padding: 0;
  }
  .nav-link {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

@media(min-width:768px) {
  .navbar-brand {
    padding: 0;

    img {
      height: 65px;
      transition: height .3s;
    }
  }

  .navbar-toggle {
    margin-top: 19px;
  }

  .navbar {
    border: 0;
    padding: 1.5em 0;

    .nav-link {
      line-height: 40px;
    }
  }

  .bg-dark {
    background-color: #222 !important;
  }
  .navbar-shrink {
    padding: .5em;
    
    .navbar-brand {
      img {
        height: 50px;
      }
    }

    .nav-link {
      line-height: 20px;
    }
  }
}
