.site-title {
  margin: 0;
}
.navbar-brand {
  height: auto;
  padding: 10px;
  & > img {
    display: inline-block;
    height: 50px;
  }
}

.navbar-inverse {
  .navbar-nav > li {
    padding: 0 1em;
    & > a {
      text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: .9em;
      letter-spacing: .1em;
    }

    &:hover > a {
      color: #98ca3d;
    }

    &.active > a,
    &.active > a:focus,
    &.active > a:hover {
      background-color: #98ca3d;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
  }

  .navbar-nav > li > a {
    color: #fff;
  }
}

.navbar-toggle {
  margin-top: 18px;
}

@media(min-width:768px) {
  .navbar-toggle {
    margin-top: 19px;
  }

  .navbar-inverse {
    .navbar-nav > li {
      padding: 0;
    }

    background-color: transparent;
    border: 0;
    padding: 1.5em 0;
  }

  .navbar-nav > li > a {
    line-height: 40px;
    -webkit-transition: line-height .3s, font-size .3s;
    -moz-transition: line-height .3s, font-size .3s;
    transition: line-height .3s, font-size .3s;
  }

  .navbar-brand {
    padding: 0;
    & > img {
      height: 65px;
      -webkit-transition: height .3s;
      -moz-transition: height .3s;
      transition: height .3s;
    }
  }

  .navbar-shrink {
    &.navbar-inverse {
      background-color: #222;
      padding: .5em;
    }

    .navbar-nav > li > a {
      line-height: 20px;
    }

    .navbar-brand {
      & > img {
        height: 50px;
      }
    }
  }
}
