.layout-realisations {
  .jumbotron {
    margin-bottom: 0;
  }
  .section-heading {
    text-align: center;
    text-transform: none;
  }
  .well {
    background: #fff;
  }
  .media-left {
    width: 33%;
    display: table-cell;
    vertical-align: middle;
  }
  .media-heading {
    text-transform: none;
  }
  .other-productions {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  @media(max-width:767px) {
    .media {
      margin-left: -15px;
      margin-right: -15px;
      border: none;
      border-radius: 0;
    }
    .media-left,
    .media-body {
      display: block;
      width: auto;
    }
    .media-left {
      a {
        display: block;
      }
      img {
        margin: auto 1rem;
      }
    }
  }
}
