.layout-realisation {
  .jumbotron-img {
    display: block;
    margin: 2rem auto;
    max-width: 300px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .jumbotron-title {
    margin-top: 0;
  }
  .jumbotron-well {
    padding: 2rem;
    max-width: 600px;
    margin: auto;
    color: #444;
    text-shadow: 0 0 2px #fff;
    background: rgba(255,255,255,.75);
  }
  h2 {
    text-align: center;
    font-weight: 400;
  }
  .intervention-text {
    font-size: 2.2rem;
    color: #9b9b9b;
    margin-bottom: 3rem;
  }
  .media-heading {
    font-weight: 400;
    text-transform: none;
    margin-bottom: 10px;
  }
  .step {
    position: relative;
    overflow: visible;
    border: none;
    border-radius: 0;
    max-width: 750px;
    padding: 30px 1rem 0 1rem;
    margin: 0 auto 6px;
    
    &:before {
      position: absolute;
      left: 50%;
      top: -2px;
      content: '';
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-width: 30px 30px 0;
      border-top-color: #fff;
      margin-left: -30px;
    }
  }
  .step-img {
    height: auto;
    margin: auto;
  }
  .bg-black {
    color: #fff;
    margin-top: 2rem;
    padding: 4rem 0 6rem;
    
    .well {
      color: #444;
      font-size: 120%;
      margin: auto;
      max-width: 500px;
      padding-bottom: 5px;
      border-bottom: 5px solid #98ca3d;
      border-radius: 0;
    }
  }
  .nav a { 
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .nav-link-text {
    font-size: 120%;
  }
  @media(min-width:768px) {
    .step {
      padding: 30px 2rem 0 4rem;
    }
    .step-illustration {
      width: 33%;
      display: table-cell;
      height: 180px;
      padding-bottom: 20px;
    }
    .step-number {
      position: absolute;
      left: -4px;
      top: 30px;
      padding: 1rem;
      color: #fff;
      background: #98ca3d;
    }
  }
  @media(max-width:767px) {
    .media-heading {
      padding-left: .5rem;
      border-left: 2.5rem solid #fff;
    }
    .step-number {
      display: inline-block;
      text-align: center;
      width: 3rem;
      margin-left: -3rem;
      color: #98ca3d;
    }
    .step-text,
    .step-illustration {
      display: block;
      width: auto;
    }
    // Make illustration span entire viewport
    .step-illustration {
      margin-left: -2rem;
      margin-right: -1rem;
    }
    .nav-justified > li {
      display: table-cell;
      width: 1%;
      a {
        margin: 0 1rem; // Prevent tap areas from butting up next to each other
      }
      &:first-child a {
        margin-left: 0;
      }
      &:last-child a {
        margin-right: 0;
      }
    }
    .nav-link-text {
      display: none;
    }
  }
}
