body {
  font-family: 'Droid Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

a {
  color: #98ca3d;
  text-decoration: none;

  &:focus,
  &:hover {
    color: #7ca72d;
    text-decoration: none;
  }
}

.bg-black {
  background-color: #000;
}

.bg-light-gray {
  background-color: #f7f7f7;
}

.btn-primary {
  background-color: #98ca3d;
  border-color: #98ca3d;

  &:focus,
  &:hover {
    background-color: darken(#98ca3d, 10%);
    border-color: darken(#98ca3d, 10%);
  }
}

