---
layout: default.en
---

<div class="jumbotron jumbotron-default-image">
  <div class="container">
    <h2 class="jumbotron-title">Welcome to our shop!</div>
    <div class="jumbotron-text">
      We handcraft websites and applications,<br />
      Keeping users in the loop for maximum efficiency.
    </div>
    <a href="#nos-methodes" class="page-scroll btn btn-primary btn-lg jumbotron-btn tell-me-more">Methodology</a>
  </div>
</div>

<section id="methodology" class="bg-light-gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-heading">Methodology</h2>
        <p class="section-subheading text-muted col-sm-8 col-sm-offset-2">Iterating using a user-centered approach helps improving project quality over time while keeping costs down.</p>
      </div>
    </div>
    <div id="iteration" class="row text-center">
      <div class="methode apprendre">
        <div>
          <h3 class="methodes-heading">1. Explore and design</h3>
          <p>We design as a team, analysing user research findings using scientific methodology.</p>
        </div>
      </div>
      <div class="resultat backlog">
        Product backlog
      </div>
      <div class="methode produire">
        <div>
          <h3 class="methodes-heading">2. Build</h3>
          <p>Agile development is always focused on features that bring the most value to the project.</p>
        </div>
      </div>
      <div class="resultat prototype">
        Prototype or product
      </div>
      <div class="methode mesurer">
        <div>
          <h3 class="methodes-heading">3. Measure</h3>
          <p>User research is combined with the design process to build a solution that users are eager to adopt.</p>
        </div>
      </div>
      <div class="resultat donnees">
        User data
      </div>
    </div>
  </div>
</section>

<section id="projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Highlighted projects</h2>
        <p>Since 2014, we have helped more than 20 startups companies and associations successfully design, build and launch their products.</p>
      </div>
    </div>
    <div class="row main-productions">
      <div class="col-sm-6">
        <div class="production-item center-block">
          <a href="#tea" class="production-link" data-toggle="modal" data-target="#tea">
            <div class="production-hover">
              <div class="production-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="{{ site.url }}/images/tea.png" alt="TEA" class="img-responsive" />
          </a>
          <div class="production-caption">
            <h3 class="h4">TEA, The Ebook Alternative</h3>
            <p class="text-muted">User research for an e-commerce platform (Android, iOS, e-readers)</p>
          </div>
        </div>
      </div>
      <div class="modal fade" id="tea" tabindex="-1" role="dialog" aria-labelledby="TEA, The Ebook Alternative" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
              <h1 class="modal-title h3">TEA, The Ebook Alternative</h1>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <h2 class="h4">Context</h2>
                    <p><abbr>TEA</abbr> wanted to decrease customer churn rate.</p>
                    <p>The team wanted to build new and improved mobile applications (Android / iOS) and revamp their e-commerce website, to give customers the best buying and reading experience they could find.</p>
                  </div>
                  <div class="col-md-4">
                    <p>We organised user testing sessions in bookshops to learn how the sales funnel performed, how easy it was for customers to create their account and synchronise ebooks onto their e-reader, as well as e-reading applications.</p>
                    <p>We ran a total of 27 scenario-based tests in 2 different bookshops, studying 3 different devices (Android tablet, iPad, and e-reader).</p>
                    <img src="{{ site.url }}/images/tea-tests-utilisateurs.jpg" alt="User research" class="img-responsive" />
                  </div>
                  <div class="col-md-4">
                    <h2 class="h4">Results</h2>
                    <p>User feedback revealed areas where the UI underperformed. We recommended several changes, and pointed out a major hurdle that prevented wide adoption.</p>
                    <p>Thanks to our intervention, <abbr>TEA</abbr> redefined part of their annual roadmap and redesigned their applications to be much more user-friendly.</p>
                    <img src="{{ site.url }}/images/tea-analyse.png" alt="Analysing interview data" class="img-responsive" />
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="production-item center-block">
          <a href="#groupama" class="production-link" data-toggle="modal" data-target="#groupama">
            <div class="production-hover">
              <div class="production-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="{{ site.url }}/images/groupama.png" alt="Groupama" class="img-responsive" />
          </a>
          <div class="production-caption">
            <h3 class="h4">Groupama</h3>
            <p class="text-muted">Interactive prototype for an internal documentation search engine</p>
          </div>
        </div>
      </div>
      <div class="modal fade" id="groupama" tabindex="-1" role="dialog" aria-labelledby="Groupama" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
              <h1 class="modal-title h3">Groupama</h1>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <h2 class="h4">Context</h2>
                    <p>Groupama <abbr>SA</abbr> is the parent company behind Groupama insurance, one of France's leading insurance companies.</p>
                    <p>The Quality, Methods and Budget department wanted to give everyone in the group an easy way to find internal documents and processes.</p>
                    <p>Before actually building the tool, they wanted to validate user interest, make sure that it would be highly usable and adapted to actual user needs.</p>
                  </div>
                  <div class="col-md-4">
                    <h2 class="h4">Actions</h2>
                    <p>We set up a user-centered approach to better understand user needs, and created an interactive <abbr>HTML</abbr>/<abbr>CSS</abbr> prototype.</p>
                    <ul>
                      <li>Creation of personas and usage scenarios with the project lead</li>
                      <li>Shadowing and user interviews in Lyon and Bordeaux</li>
                      <li>Wireframe design</li>
                      <li>Mockup design</li>
                      <li>Interactive prototype in <abbr>HTML</abbr>5 and <abbr>CSS</abbr>3</li>
                    </ul>
                    <img src="{{ site.url }}/images/groupama-wireframe.png" alt="Mockup prototype" class="img-responsive" />
                  </div>
                  <div class="col-md-4">
                    <h2 class="h4">Results</h2>
                    <p>The interactive prototype was used as blueprint by the development team to build a functional prototype.</p>
                    <p>Prototypes allows testing user adaptation and adoption and is a particularly useful first step to a large project. It also simplifies internal discussion and idea sharing.</p>
                    <img src="{{ site.url }}/images/groupama-prototype.png" alt="Final mockup" class="img-responsive" />
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row auto-productions">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading">Internal productions</h3>
      </div>
      <div class="col-sm-6">
        <div class="production-item center-block">
          <a href="#oolys" class="production-link" data-toggle="modal" data-target="#oolys">
            <div class="production-hover">
              <div class="production-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="{{ site.url }}/images/oolys.jpg" alt="Oolys" class="img-responsive">
          </a>
          <div class="production-caption">
            <h3 class="h4">Oolys</h3>
            <p class="text-muted">Oolys is a serious game for children in orthodental care.</p>
          </div>
        </div>
      </div>
      <div class="modal fade" id="oolys" tabindex="-1" role="dialog" aria-labelledby="Oolys" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
              <h1 class="modal-title h3">Oolys</h1>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <h2 class="h4">Context</h2>
                    <p>Patient motivation is crucial in orthodental care, because children need to clean the braces and wear the rubber bands daily for the treatment to be fast and efficient.</p>
                    <p>But children typically use braces between ages 10 to 13, an age at which they feel quite strongly against such constraints. As a result, treatments often end up taking more time than necessary and costing more to their parents and the Health Insurance system.</p>
                  </div>
                  <div class="col-md-4">
                    <h2 class="h4">Situation</h2>
                    <p>Most motivation programs today incentivize children by giving them toys and other similar rewards, some even offering prizes as expensive as game consoles.</p>
                    <p>But giving some children such large rewards can be controversial when the Health Insurance system is striving to reduce treatment costs, and also creates inequalities between children whose parents spend an otherwise equivalent amount of money.</p>
                  </div>
                  <div class="col-md-4">
                    <h2 class="h4">Our solution</h2>
                    <p>Oolys is our attempt at solving both problems at once, by giving children an adventure book whose story depends on their implication in their treatment.</p>
                    <p>At each appointment the orthodontic team assesses the child's braces' status, which corresponds to a number of points. The story then evolves according to the number of points gained and the child gets reward stickers to use or collect.</p>
                  </div>
                  <div class="col-md-12">
                    <img src="{{ site.url }}/images/oolys-details.png" alt="Booklet iterations" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Ok !</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="production-item center-block">
          <a href="#antepulsio" class="production-link" data-toggle="modal" data-target="#antepulsio">
            <div class="production-hover">
              <div class="production-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="{{ site.url }}/images/antepulsio.jpg" alt="Antepulsio" class="img-responsive">
          </a>
          <div class="production-caption">
            <h3 class="h4">Antepulsio <abbr title="2">II</abbr></h3>
            <p class="text-muted">Self-learning application for anatomy and biomechanics, designed for desktop computers, tablets and smartphones.</p>
          </div>
        </div>
      </div>
      <div class="modal fade" id="antepulsio" tabindex="-1" role="dialog" aria-labelledby="Antepulsio" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
              <h1 class="modal-title h3">Antepulsio <abbr title="2">II</abbr></h1>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <h2 class="h4">Project description</h2>
                    <p>The aim of this project is to give medical and sports students an interactive tool to better understand how muscles, joints and connective tissues work together, using realistic interactive <abbr>3D</abbr> renderings.</p>
                  </div>
                  <div class="col-md-6">
                    <h2 class="h4">Financing</h2>
                    <p>The total cost of the project is an estimated €1.8<abbr title="million">M</abbr>, with development planned to cover the span of 3 years. It has been approved by EuroBioMed and Imaginov, and will <a href="http://www.eurobiomed.org/actualite/news/eurobiomed-deux-nouveaux-projets-finances-par-le-fond-unique-interministeriel/">receive €1<abbr title="million">M</abbr> states and local grants</a>. We will partner with <a href="http://www.univ-lyon1.fr/recherche/entites-de-recherche/laboratoire-interuniversitaire-de-biologie-de-la-motricite-libm--831814.kjsp">Lyon 1 university</a>, <a href="http://www.itycom.com/">Itycom</a>, brûle., and <a href="http://www.anatoscope.com/">Anatoscope</a>.</p>
                  </div>
                  <div class="col-md-12">
                    <img src="{{ site.url }}/images/antepulsio-large.jpg" alt="" class="img-responsive img-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Ok !</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="other-productions">
      <div class="text-center">
        <h3 class="section-heading">More customers we've worked with</h3>
      </div>
      <ul class="list-unstyled row">
        {% for client in site.clients %}
        <li class="col-xs-4"><span class="thumbnail"><img src="{{ site.baseurl }}/images/clients/{{ client.logo }}" alt="{{ client.title | strip_html | normalize_whitespace | escape }}" /></span></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our awesome team</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-6 team-member">
        <img src="{{ site.url }}/images/florent.png" alt="Florent Goumy" class="img-responsive img-circle">
        <h3 class="h4" lang="fr">Florent Goumy</h3>
        <p class="bio">I have 10 years experience designing Web services. I love studying, understanding and optimising user experience. I read a lot about Lean Startup, <abbr>UX</abbr>, emotional design, interface/interaction design, and many many more.</p>
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/FlorentGoumy" title="Florent on Twitter"><i class="fa fa-twitter"></i><span class="sr-only">Florent on Twitter</span></a></li>
          <li><a href="https://fr.linkedin.com/in/florentgoumy" title="Florent on LinkedIn"><i class="fa fa-linkedin"></i><span class="sr-only">Florent on LinkedIn</span></a></li>
          <li><a href="http://www.florentgoumy.com" title="Site personnel de Florent"><i class="fa fa-pencil"></i><span class="sr-only">Site personnel de Florent</span></a></li>
        </ul>
      </div>
      <div class="col-sm-6 team-member">
        <img src="{{ site.url }}/images/julien.png" alt="Julien Fusco" class="img-responsive img-circle">
        <h3 class="h4" lang="fr">Julien Fusco</h3>
        <p class="bio">I honed my web development skills for more than 10 years working for <abbr>IT</abbr> services companies as well as startups. I keep up-to-date about new technologies every day. I believe in agile values and principles and love contributing to Open Source projects.</p>
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/PKoin" title="Julien on Twitter"><i class="fa fa-twitter"></i><span class="sr-only">Julien on Twitter</span></a></li>
          <li><a href="https://fr.linkedin.com/pub/julien-fusco/b1/81a/218" title="Julien on LinkedIn"><i class="fa fa-linkedin"></i><span class="sr-only">Julien on LinkedIn</span></a></li>
          <li><a href="https://github.com/PKoin" title="Julien on Github"><i class="fa fa-github"></i><span class="sr-only">Julien on Github</span></a></li>
          <li><a href="http://pkoin.github.io" title="Julien's website"><i class="fa fa-pencil"></i><span class="sr-only">Julien's website</span></a></li>
        </ul>
      </div>
      <div class="col-sm-6 team-member">
        <img src="{{ site.url }}/images/goulven.jpg" alt="Goulven Champenois" class="img-responsive img-circle">
        <h3 class="h4" lang="fr">Goulven Champenois</h3>
        <p class="bio">I believe that all websites and applications should be accessible, usable, and quick to load for everyone. I love learning new techniques and languages, presenting my findings, and contributing to projects that resonate with my values.</p>
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/goulvench" title="Goulven on Twitter"><i class="fa fa-twitter"></i><span class="sr-only">Goulven on Twitter</span></a></li>
          <li><a href="https://fr.linkedin.com/in/goulvenchampenois" title="Goulven on LinkedIn"><i class="fa fa-linkedin"></i><span class="sr-only">Goulven on LinkedIn</span></a></li>
          <li><a href="https://speakerdeck.com/goulvench" title="Goulven on Speakerdeck"><i class="fa fa-object-group"></i><span class="sr-only">Goulven on Speakerdeck</span></a></li>
          <li><a href="https://github.com/goulvench" title="Goulven on Github"><i class="fa fa-github"></i><span class="sr-only">Goulven on Github</span></a></li>
        </ul>
      </div>
      <div class="col-sm-6 team-member">
        <img src="{{ site.url }}/images/lucile.jpg" alt="Lucile Hertzog" class="img-responsive img-circle">
        <h3 class="h4" lang="fr">Lucile Hertzog</h3>
        <p class="bio">I design user-centered interfaces. I run usability tests with user panels to make sure your product meets your customers’ needs as closely as possible.</p>
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/lucilehertzog" title="Lucile on Twitter"><i class="fa fa-twitter"></i><span class="sr-only">Lucile on Twitter</span></a></li>
          <li><a href="https://www.linkedin.com/in/lucile-hertzog-76915899/" title="Lucile on LinkedIn"><i class="fa fa-linkedin"></i><span class="sr-only">Lucile on LinkedIn</span></a></li>
          <li><a href="https://fr.pinterest.com/lucilehertzog/" title="Lucile on Pinterest"><i class="fa fa-pinterest"></i><span class="sr-only">Lucile on Pinterest</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contact</h2>
        <p>Interested in working with us?
          <br />Get in touch and we'll get back to you in no time.</p>
        <p><a href="mailto:hello@ochelys.com" class="btn btn-primary btn-lg contact"><i class="fa fa-inbox"></i> hello@ochelys.com</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading">Our offices</h3>
        <address class="text-muted" lang="fr">
          2 Rue Professeur Zimmermann<br>
          69007 Lyon, France<br>
        </address>
        <a class="btn btn-default" href="https://goo.gl/maps/AMbCAnD86RN2">Locate us on <i class="fa fa-map-marker"></i> Google Maps</a>
      </div>
    </div>
  </div>
</section>

<section id="nos-partenaires" class="bg-black">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our partners</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-2 col-sm-offset-2">
        <a href="http://lyon.clubagilerhonealpes.org/" class="thumbnail">
          <img src="{{ site.url }}/images/partenaires/cara-lyon.png" alt="Club Agile Rhône-Alpes">
        </a>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="http://www.collectif-designersplus.fr/" class="thumbnail">
          <img src="{{ site.url }}/images/partenaires/designers-plus.png" alt="Collectif Designers+" class="img-responsive" />
        </a>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="http://www.imaginove.fr/" class="thumbnail">
          <img src="{{ site.url }}/images/partenaires/imaginove.png" alt="Imaginove" class="img-responsive" />
        </a>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="http://i-carecluster.org/" class="thumbnail" lang="en">
          <img src="{{ site.url }}/images/partenaires/cluster-icare.png" alt="Cluster ICare" class="img-responsive" />
        </a>
      </div>
    </div>
  </div>
</section>
