---
layout: default
---

<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Bienvenue dans notre atelier&nbsp;!</div>
      <div class="intro-heading">
        Notre métier, créer des sites et applications Web.<br>
        Notre principe, s'adapter en continu aux utilisateurs.
      </div>
      <a href="#nos-methodes" class="page-scroll btn btn-primary btn-lg tell-me-more">Nos méthodes</a>
    </div>
  </div>
</header>

<section id="nos-methodes" class="bg-light-gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-heading">Nos méthodes</h2>
        <p class="section-subheading text-muted">Notre démarche repose sur une approche itérative et centrée utilisateur qui permet d'améliorer en continu un projet tout en gardant une bonne maitrise des coûts.</p>
      </div>
    </div>
    <div id="iteration" class="row text-center">
      <div class="methode apprendre">
        <div>
          <h3 class="methodes-heading">1. Apprendre et concevoir</h3>
          <p>La conception est collaborative et se base sur une démarche scientifique et des apprentissages issus des retours utilisateurs.</p>
        </div>
      </div>
      <div class="resultat backlog">
        Cahier des fonctionnalités
      </div>
      <div class="methode produire">
        <div>
          <h3 class="methodes-heading">2. Produire</h3>
          <p>Le développement est agile pour pouvoir s'ajuster en permanence sur ce qui est le plus pertinent pour le projet.</p>
        </div>
      </div>
      <div class="resultat prototype">
        Prototype ou produit
      </div>
      <div class="methode mesurer">
        <div>
          <h3 class="methodes-heading">3. Mesurer</h3>
          <p>La recherche utilisateur est intégrée aux cycles de conception pour concevoir une solution adoptée par les utilisateurs.</p>
        </div>
      </div>
      <div class="resultat donnees">
        Données utilisateur
      </div>
    </div>
  </div>
</section>

<section id="nos-realisations">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Quelques réalisations</h2>
      </div>
    </div>
    <div class="row main-productions">
      <div class="col-sm-6">
        <div class="production-item center-block">
          <a href="#tea" class="production-link" data-toggle="modal" data-target="#tea">
            <div class="production-hover">
              <div class="production-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="{{ site.url }}/images/tea.png" alt="TEA" class="img-responsive">
          </a>
          <div class="production-caption">
            <h3 class="h4" lang="en">TEA, The Ebook Alternative</h3>
            <p class="text-muted">Études utilisateurs pour une plateforme <span lang="en">e-commerce</span> (Android, iOS, liseuse à encre numérique)</p>
          </div>
        </div>
      </div>
      <div class="modal fade" id="tea" tabindex="-1" role="dialog" aria-labelledby="TEA, The Ebook Alternative" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
              <h1 class="modal-title h3" lang="en">TEA, The Ebook Alternative</h1>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <h2 class="h4">Problématique</h2>
                    <p><abbr>TEA</abbr> rencontrait des difficultés dans la fidélisation de ses clients.</p>
                    <p>L'équipe souhaitait donc réaliser une nouvelle version de leurs applications (Android / iOS) et de leur site e-commerce afin d'offrir la meilleure expérience possible d'achat et de lecture.</p>
                  </div>
                  <div class="col-md-4">
                    <h2 class="h4">Actions</h2>
                    <p>Ochelys a réalisé des tests utilisateurs en librairie pour étudier le tunnel de vente, la création des comptes utilisateurs, la synchronisation des livres numériques ainsi que les applications de lecture.</p>
                    <p>27 tests scénarisés, portant sur 3 périphériques différents (tablette sous Android, iPad et liseuse à encre numérique), ont été conduits dans 2 librairies de la région Lyonnaise.</p>
                    <img src="{{ site.url }}/images/tea-tests-utilisateurs.jpg" alt="Entretiens avec les utilisateurs" class="img-responsive">
                  </div>
                  <div class="col-md-4">
                    <h2 class="h4">Résultats</h2>
                    <p>Les études ont permis d'identifier une série d'amélioration d'interfaces ainsi que de mettre en exergue une problématique majeure bloquant l'adoption.</p>
                    <p>Notre intervention a permis à <abbr>TEA</abbr> de redéfinir une partie de sa <span lang="en">roadmap</span> annuelle et d'éviter de réaliser des erreurs de conception majeures lors de la refonte des applications.</p>
                    <img src="{{ site.url }}/images/tea-analyse.png" alt="Analyse des données des entretiens" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Ok !</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="production-item center-block">
          <a href="#groupama" class="production-link" data-toggle="modal" data-target="#groupama">
            <div class="production-hover">
              <div class="production-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="{{ site.url }}/images/groupama.png" alt="Groupama" class="img-responsive">
          </a>
          <div class="production-caption">
            <h3 class="h4">Groupama</h3>
            <p class="text-muted">Conception d'un prototype interactif pour un moteur de recherche de documents internes</p>
          </div>
        </div>
      </div>
      <div class="modal fade" id="groupama" tabindex="-1" role="dialog" aria-labelledby="Groupama" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
              <h1 class="modal-title h3">Groupama</h1>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <h2 class="h4">Problématique</h2>
                    <p>Groupama <abbr>SA</abbr> est la maison-mère de la compagnie d'assurance Groupama.</p>
                    <p>La direction Qualité, Méthodes et Budget souhaitait proposer à l'ensemble du groupe un nouvel outil de recherche de documents et de processus.</p>
                    <p>Avant de lancer le développement, l'équipe devait réaliser un prototype afin de convaincre de l'intérêt de l'outil, de sa facilité d'utilisation, et de son adaptation aux besoins réels des utilisateurs.</p>
                  </div>
                  <div class="col-md-4">
                    <h2 class="h4">Actions</h2>
                    <p>Nous avons mis en place une démarche centrée utilisateur pour comprendre les besoins réels et créer un prototype interactif au format <abbr>HTML</abbr>/<abbr>CSS</abbr>.</p>
                    <ul>
                      <li>Création de personas et scénarios d'usages avec l'équipe <abbr title="Maitrîse d'ouvrage">MOA</abbr></li>
                      <li>Observations et entretiens d'utilisateurs sur Lyon et Bordeaux</li>
                      <li>Création de <span lang="en">Wireframes</span></li>
                      <li>Création de maquettes graphiques</li>
                      <li>Intégration sur un prototype interactif <abbr>HTML</abbr> 5 et <abbr>CSS</abbr> 3</li>
                    </ul>
                    <img src="{{ site.url }}/images/groupama-wireframe.png" alt="Prototype graphique" class="img-responsive">
                  </div>
                  <div class="col-md-4">
                    <h2 class="h4">Résultats</h2>
                    <p>Le prototype interactif a permis aux équipes techniques de produire un prototype fonctionnel.</p>
                    <p>Avant de valider la réalisation d'un outil conséquent, le prototype permet de réaliser des tests avec les utilisateurs et des présentations en interne.</p>
                    <img src="{{ site.url }}/images/groupama-prototype.png" alt="Maquette validée" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Ok !</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row auto-productions">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading">Autoproductions</h3>
      </div>
      <div class="col-sm-6">
        <div class="production-item center-block">
          <a href="#smiliz" class="production-link" data-toggle="modal" data-target="#smiliz">
            <div class="production-hover">
              <div class="production-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="{{ site.url }}/images/smiliz.jpg" alt="Smiliz" class="img-responsive">
          </a>
          <div class="production-caption">
            <h3 class="h4">Smiliz</h3>
            <p class="text-muted">Smiliz est un jeu destiné à accompagner les enfants qui suivent un traitement orthodontique.</p>
          </div>
        </div>
      </div>
      <div class="modal fade" id="smiliz" tabindex="-1" role="dialog" aria-labelledby="Smiliz" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
              <h1 class="modal-title h3">Smiliz</h1>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <h2 class="h4">Contexte</h2>
                    <p>La motivation est essentielle dans un traitement orthodontique car le patient doit entretenir quotidiennement son appareil, en prendre soin, et porter régulièrement ses élastiques.</p>
                    <p>Cependant pour les patients, âgés de 10 à 13 ans, le traitement est subit et bien souvent considéré comme une contrainte. La motivation est indispensable mais difficile à entretenir.</p>
                  </div>
                  <div class="col-md-4">
                    <h2 class="h4">Problématique</h2>
                    <p>Le secteur des outils de motivation des patients est occupé essentiellement par des propositions de ré́compenses matérielles. Certaines solutions permettent parfois à l’enfant de gagner une console de jeu à̀ la fin de son traitement.</p>
                    <p>Mais allouer des sommes importantes pour récompenser les enfants ne semble pas adapté dans un contexte où la sécurité sociale cherche à plafonner et réduire le montant des remboursements alloués aux traitements, et crée de nombreuses injustices entre enfants qui suivent pourtant le même traitement.</p>
                  </div>
                  <div class="col-md-4">
                    <h2 class="h4">Notre solution</h2>
                    <p>Présenté sous forme de livret connecté accompagné de stickers à gagner, Smiliz permet d'améliorer l'engagement des jeunes patients dans leur traitement.</p>
                    <p>À chaque rendez-vous, l’équipe de soin va contrôler l’état de l’appareil et tamponner le livret avec des succès. En fonction de ces succès, le personnage évolue dans l’histoire et gagne des récompenses sous forme de vignettes à coller et collectionner.</p>
                  </div>
                  <div class="col-md-12">
                    <img src="{{ site.url }}/images/smiliz-livrets.jpg" alt="Versions successives du livret" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Ok !</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="production-item center-block">
          <a href="#antepulsio" class="production-link" data-toggle="modal" data-target="#antepulsio">
            <div class="production-hover">
              <div class="production-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="{{ site.url }}/images/antepulsio.jpg" alt="Antepulsio" class="img-responsive">
          </a>
          <div class="production-caption">
            <h3 class="h4">Antepulsio <abbr title="2">II</abbr></h3>
            <p class="text-muted">Application pour apprentissage de l'anatomie et de la biomécanique pour ordinateurs, tablettes et smartphones.</p>
          </div>
        </div>
      </div>
      <div class="modal fade" id="antepulsio" tabindex="-1" role="dialog" aria-labelledby="Antepulsio" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
              <h1 class="modal-title h3">Antepulsio <abbr title="2">II</abbr></h1>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <h2 class="h4">Le projet</h2>
                    <p>Le projet Antepulsio <abbr title="2">II</abbr> a pour objectif de développer un outil pédagogique permettant une meilleure compréhension de l'anatomie fonctionnelle. Ce jeu, destiné à l'enseignement de l'anatomie pour les étudiants des filières <abbr>Staps</abbr> et médecine, est basé sur une modélisation <abbr>3D</abbr> du corps humain intégrant une biomécanique la plus réaliste possible.</p>
                  </div>
                  <div class="col-md-6">
                    <h2 class="h4">Financement</h2>
                    <p>Le projet représente un budget d'1,8<abbr title="million d'">M</abbr>€ sur 36 mois, co-labellisé par les pôles EuroBioMed et Imaginov, recevra une <a href="http://www.eurobiomed.org/actualite/news/eurobiomed-deux-nouveaux-projets-finances-par-le-fond-unique-interministeriel/">aide de l'état et des régions d'1<abbr title="million d'">M</abbr>€</a>.</p>
                    <p>Pour ce projet, nous travaillons en partenariat avec le <a href="http://www.univ-lyon1.fr/recherche/entites-de-recherche/laboratoire-interuniversitaire-de-biologie-de-la-motricite-libm--831814.kjsp"><abbr>LIBM</abbr> de l'université Lyon 1</a>, ainsi que les sociétés <a href="http://www.itycom.com/">Itycom</a>, brûle., et <a href="http://www.anatoscope.com/">Anatoscope</a>.</p>
                  </div>
                  <div class="col-md-12">
                    <img src="{{ site.url }}/images/antepulsio-large.jpg" alt="" class="img-responsive img-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Ok !</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading">Nous avons collaboré avec</h3>
      </div>
    </div>
    <div class="row other-productions">
      <div class="col-xs-6 col-sm-4 col-lg-2 production-item">
        <div class="thumbnail">
          <img src="{{ site.url }}/images/zenika.png" alt="Zenika" class="img-responsive">
          <div class="caption">
            <h4>Zenika</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-lg-2 production-item">
        <div class="thumbnail">
          <img src="{{ site.url }}/images/pole-pixel.png" alt="Pôle Pixel" class="img-responsive">
          <div class="caption">
            <h4>Pôle Pixel</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-lg-2 production-item">
        <div class="thumbnail">
          <img src="{{ site.url }}/images/orthodeal.png" alt="Orthodeal" class="img-responsive">
          <div class="caption">
            <h4>Orthodeal</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-lg-2 production-item">
        <div class="thumbnail">
          <img src="{{ site.url }}/images/mea.png" alt="MEA" class="img-responsive">
          <div class="caption">
            <h4>Mission Économique de l'Ain</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-lg-2 production-item">
        <div class="thumbnail">
          <img src="{{ site.url }}/images/ktm.png" alt="KTM" class="img-responsive">
          <div class="caption">
            <h4 lang="en"><abbr>KTM</abbr> Advance</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-lg-2 production-item">
        <div class="thumbnail">
          <img src="{{ site.url }}/images/clge.png" alt="CLGE" class="img-responsive">
          <div class="caption">
            <h4><abbr>CLGE</abbr></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="notre-equipe" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Notre incroyable équipe</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-6 team-member">
        <img src="{{ site.url }}/images/florent.png" alt="Florent Goumy" class="img-responsive img-circle">
        <h3 class="h4">Florent Goumy</h3>
        <p class="text-muted">Je teste vos projets auprès de vos utilisateurs.</p>
        <p class="bio">Je conçois des services Web depuis 10 ans. J'aime comprendre, étudier et optimiser l'expérience des utilisateurs. Je dévore de nombreux livres sur le Lean Startup, l'UX, le design émotionnel… avec un petit fond musical. Chez Ochelys, je m'occupe de la conception centrée utilisateur.</p>
        <p class="text-muted"><i class="fa fa-envelope-o"></i> <a href="mailto:florent@ochelys.com">florent@ochelys.com</a></p>
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/FlorentGoumy" title="Florent sur Twitter"><i class="fa fa-twitter"></i><span class="sr-only">Florent sur Twitter</span></a></li>
          <li><a href="https://fr.linkedin.com/in/florentgoumy" title="Florent sur LinkedIn"><i class="fa fa-linkedin"></i><span class="sr-only">Florent sur LinkedIn</span></a></li>
          <li><a href="http://www.florentgoumy.com" title="Site personnel de Florent"><i class="fa fa-coffee"></i><span class="sr-only">Site personnel de Florent</span></a></li>
        </ul>
      </div>
      <div class="col-sm-6 team-member">
        <img src="{{ site.url }}/images/julien.png" alt="Julien Fusco" class="img-responsive img-circle">
        <h3 class="h4">Julien Fusco</h3>
        <p class="text-muted">Je construis vos projets avec vous.</p>
        <p class="bio">J'ai fait mes armes en tant que développeur Web durant près de 10 ans en SSII, startups… J'explore les dernières technos en buvant mon café. Je fais partie des agilistes convaincus. J'aime pousser des trucs sur Github et y explorer des projets open source. Chez Ochelys, je crée des applications Web.</p>
        <p class="text-muted"><i class="fa fa-envelope-o"></i> <a href="mailto:julien@ochelys.com">julien@ochelys.com</a></p>
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/PKoin" title="Julien sur Twitter"><i class="fa fa-twitter"></i><span class="sr-only">Julien sur Twitter</span></a></li>
          <li><a href="https://fr.linkedin.com/pub/julien-fusco/b1/81a/218" title="Julien sur LinkedIn"><i class="fa fa-linkedin"></i><span class="sr-only">Julien sur LinkedIn</span></a></li>
          <li><a href="https://github.com/PKoin" title="Julien sur Github"><i class="fa fa-github"></i><span class="sr-only">Julien sur Github</span></a></li>
          <li><a href="http://pkoin.github.io" title="Site personnel de Julien"><i class="fa fa-coffee"></i><span class="sr-only">Site personnel de Julien</span></a></li>
        </ul>
      </div>
      <div class="col-sm-6 team-member">
        <img src="{{ site.url }}/images/goulven.jpg" alt="Goulven Champenois" class="img-responsive img-circle">
        <h3 class="h4">Goulven Champenois</h3>
        <p class="text-muted">Je conçois et construit pour vous des projets accessibles et performants.</p>
        <p class="bio">Je crée des sites et applications en m'appliquant à les rendre accessibles au plus grand nombre, performants, utilisables. J'aime creuser différents sujets, donner des conférences, et contribuer à des projets utiles.</p>
        <p class="text-muted"><i class="fa fa-envelope-o"></i> <a href="mailto:goulven@ochelys.com">goulven@ochelys.com</a></p>
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/goulvench" title="Goulven sur Twitter"><i class="fa fa-twitter"></i><span class="sr-only">Goulven sur Twitter</span></a></li>
          <li><a href="https://fr.linkedin.com/in/goulvenchampenois" title="Goulven sur LinkedIn"><i class="fa fa-linkedin"></i><span class="sr-only">Goulven sur LinkedIn</span></a></li>
          <li><a href="https://speakerdeck.com/goulvench" title="Goulven sur Speakerdeck"><i class="fa fa-object-group"></i><span class="sr-only">Goulven sur Speakerdeck</span></a></li>
          <li><a href="https://github.com/goulvench" title="Goulven sur Github"><i class="fa fa-github"></i><span class="sr-only">Goulven sur Github</span></a></li>
        </ul>
      </div>
      <div class="col-sm-6 team-member">
        <img src="{{ site.url }}/images/guillaume.jpg" alt="Guillaume Briday" class="img-responsive img-circle">
        <h3 class="h4">Guillaume Briday</h3>
        <p class="text-muted">Je développe vos projets pour vous.</p>
        <p class="bio">Je suis actuellement en école d'ingénieur à l'Institut G4 de Lyon. Développeur Web pointilleux et consciencieux, j'aime apprendre et découvrir les technologies de demain pour perfectionner mes projets tant professionnels que personnels.</p>
        <p class="text-muted"><i class="fa fa-envelope-o"></i> <a href="mailto:guillaume@ochelys.com">guillaume@ochelys.com</a></p>
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/guillaumebriday" title="Guillaume sur Twitter"><i class="fa fa-twitter"></i><span class="sr-only">Guillaume sur Twitter</span></a></li>
          <li><a href="https://fr.linkedin.com/in/guillaumebriday" title="Guillaume sur LinkedIn"><i class="fa fa-linkedin"></i><span class="sr-only">Guillaume sur LinkedIn</span></a></li>
          <li><a href="https://github.com/guillaumebriday" title="Guillaume sur Github"><i class="fa fa-github"></i><span class="sr-only">Guillaume sur Github</span></a></li>
          <li><a href="https://www.guillaumebriday.fr/" title="Site personnel de Guillaume"><i class="fa fa-coffee"></i><span class="sr-only">Site personnel de Guillaume</span></a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-offset-3 team-member">
        <img src="{{ site.url }}/images/lucile.jpg" alt="Lucile Hertzog" class="img-responsive img-circle">
        <h3 class="h4">Lucile Hertzog</h3>
        <p class="text-muted">Je conçois et améliore l’expérience utilisateur de vos projets.</p>
        <p class="bio">Chez Ochelys, je conçois les interfaces centrées utilisateur et teste vos projets auprès d’utilisateurs potentiels. Grâce à ces retours, vos interfaces seront au plus proche des besoins de vos utilisateurs.</p>
        <p class="text-muted"><i class="fa fa-envelope-o"></i> <a href="mailto:lucile@ochelys.com">lucile@ochelys.com</a></p>
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/lucilehertzog" title="Lucile sur Twitter"><i class="fa fa-twitter"></i><span class="sr-only">Lucile sur Twitter</span></a></li>
          <li><a href="https://www.linkedin.com/in/lucile-hertzog-76915899/" title="Lucile sur LinkedIn"><i class="fa fa-linkedin"></i><span class="sr-only">Lucile sur LinkedIn</span></a></li>
          <li><a href="https://fr.pinterest.com/lucilehertzog/" title="Lucile sur Pinterest"><i class="fa fa-pinterest"></i><span class="sr-only">Lucile sur Pinterest</span></a></li>
          <li><a href="http://www.lucile-hertzog.com/" title="Site personnel de Lucile"><i class="fa fa-coffee"></i><span class="sr-only">Site personnel de Lucile</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contactez-nous</h2>
        <p>Vous avez un projet ou une question&nbsp;?<br>On vous rencontre et on vous fait une proposition sous 24h.</p>
        <p><a href="mailto:hello@ochelys.com" class="btn btn-primary btn-lg contact"><i class="fa fa-inbox"></i> hello@ochelys.com</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading">Où nous trouver&nbsp;?</h3>
        <address class="text-muted">
          45 Rue Capitaine Robert Cluzan<br>
          69007 Lyon<br>
        </address>
        <a class="btn btn-default" href="https://goo.gl/maps/iuBqJVypKWN2">Voir sur <i class="fa fa-map-marker"></i> <span lang="en">Google Maps</span></a>
      </div>
    </div>
  </div>
</section>

<section id="nos-partenaires" class="bg-black">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Nos partenaires</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-2 col-sm-offset-1">
        <a href="http://lyon.clubagilerhonealpes.org/" class="thumbnail">
          <img src="{{ site.url }}/images/partenaires/cara-lyon.png" alt="Club Agile Rhône-Alpes">
        </a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a href="http://www.collectif-designersplus.fr/" class="thumbnail">
          <img src="{{ site.url }}/images/partenaires/designers-plus.png" alt="Collectif Designers+" class="img-responsive">
        </a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a href="http://www.imaginove.fr/" class="thumbnail">
          <img src="{{ site.url }}/images/partenaires/imaginove.png" alt="Imaginove" class="img-responsive">
        </a>
      </div>
      <div class="col-xs-4 col-sm-2 col-xs-offset-2 col-sm-offset-0">
        <a href="http://www.lacuisineduweb.com/" class="thumbnail">
          <img src="{{ site.url }}/images/partenaires/la-cuisine-du-web.png" alt="La Cuisine du Web" class="img-responsive">
        </a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a href="http://i-carecluster.org/" class="thumbnail" lang="en">
          <img src="{{ site.url }}/images/partenaires/cluster-icare.png" alt="Cluster ICare" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
</section>
