---
layout: default
---

<div class="jumbotron jumbotron-default-image">
  <div class="container">
    <h2 class="jumbotron-title">Bienvenue dans notre atelier&nbsp;!</h2>
    <div class="jumbotron-text">
      Notre métier, créer des sites et applications Web.<br>
      Notre principe, s'adapter en continu aux utilisateurs.
    </div>
    <a href="#nos-methodes" class="page-scroll btn btn-primary btn-lg jumbotron-btn tell-me-more">Nos méthodes</a>
  </div>
</div>

<section id="nos-methodes">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-heading">Nos méthodes</h2>
        <p class="section-subheading text-muted col-sm-8 col-sm-offset-2">Une approche centrée utilisateur et itérative permet d’améliorer un projet en continu en gardant une bonne maitrise des coûts.</p>
      </div>
    </div>
    <div id="iteration" class="row text-center">
      <div class="methode apprendre">
        <div>
          <h3 class="methodes-heading">1. Apprendre et concevoir</h3>
          <p>La conception est collaborative et se base sur une démarche scientifique et des apprentissages issus des retours utilisateurs.</p>
        </div>
      </div>
      <div class="resultat backlog">
        Cahier des fonctionnalités
      </div>
      <div class="methode produire">
        <div>
          <h3 class="methodes-heading">2. Produire</h3>
          <p>Le développement est agile pour pouvoir s'ajuster en permanence sur ce qui est le plus pertinent pour le projet.</p>
        </div>
      </div>
      <div class="resultat prototype">
        Prototype ou produit
      </div>
      <div class="methode mesurer">
        <div>
          <h3 class="methodes-heading">3. Mesurer</h3>
          <p>La recherche utilisateur est intégrée aux cycles de conception pour concevoir une solution adoptée par les utilisateurs.</p>
        </div>
      </div>
      <div class="resultat donnees">
        Données utilisateur
      </div>
    </div>
  </div>
</section>

<section id="nos-realisations" class="bg-light-gray layout-realisations">
  <div class="container">
    <div class="row main-productions">
      <div class="col-xs-12 text-center">
        <h2 class="section-heading">Quelques réalisations</h2>
        <p>Depuis 2014, nous avons accompagné une vingtaine de startups, entreprises et associations dans la conception et le lancement de leurs services.</p>
      </div>
      {% for project in site.realisations %}
      <div class="col-xs-12 col-md-6">
        <div class="media well">
          <div class="media-left">
            <h2 class="media-heading">
              <a href="{{ project.url }}">
                <img src="{{ site.baseurl }}/images/projects/{{ project.logo }}" alt="{{ project.title | strip_html | normalize_whitespace | escape }}" class="media-object img-responsive" />
              </a>
            </h2>
          </div>
          <div class="media-body">
            <p class="h3 media-heading">{{ project.title }}</p>
            <p>{{ project.description }}</p>
            <a href="{{ project.url }}" class="btn btn-primary" title="Plus d'informations sur {{ project.title | strip_html | normalize_whitespace | escape }}">Plus d'infos</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="other-productions">
      <div class="text-center">
        <h3 class="section-heading">Nous avons aussi collaboré avec</h3>
      </div>
      <ul class="list-unstyled row">
        {% for client in site.clients %}
        <li class="col-xs-4"><span class="thumbnail"><img src="{{ site.baseurl }}/images/clients/{{ client.logo }}" alt="{{ client.title | strip_html | normalize_whitespace | escape }}" /></span></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section id="notre-equipe">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Notre incroyable équipe</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-6 team-member">
        <img src="{{ site.baseurl }}/images/florent.png" alt="Florent Goumy" class="img-responsive img-circle">
        <h3 class="h4">Florent Goumy</h3>
        <p class="bio">Je conçois des services Web depuis 10 ans. J'aime comprendre, étudier et optimiser l'expérience des utilisateurs. Je dévore de nombreux livres sur le Lean Startup, l'UX, le design émotionnel… avec un petit fond musical.</p>
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/FlorentGoumy" title="Florent sur Twitter"><i class="fa fa-twitter"></i><span class="sr-only">Florent sur Twitter</span></a></li>
          <li><a href="https://fr.linkedin.com/in/florentgoumy" title="Florent sur LinkedIn"><i class="fa fa-linkedin"></i><span class="sr-only">Florent sur LinkedIn</span></a></li>
          <li><a href="http://www.florentgoumy.com" title="Site personnel de Florent"><i class="fa fa-pencil"></i><span class="sr-only">Site personnel de Florent</span></a></li>
        </ul>
      </div>
      <div class="col-sm-6 team-member">
        <img src="{{ site.baseurl }}/images/julien.png" alt="Julien Fusco" class="img-responsive img-circle">
        <h3 class="h4">Julien Fusco</h3>
        <p class="bio">J'ai fait mes armes en tant que développeur Web durant près de 10 ans en SSII, startups… J'explore les dernières technos en buvant mon café. Je fais partie des agilistes convaincus. J'aime pousser des trucs sur Github et y explorer des projets open source.</p>
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/PKoin" title="Julien sur Twitter"><i class="fa fa-twitter"></i><span class="sr-only">Julien sur Twitter</span></a></li>
          <li><a href="https://fr.linkedin.com/pub/julien-fusco/b1/81a/218" title="Julien sur LinkedIn"><i class="fa fa-linkedin"></i><span class="sr-only">Julien sur LinkedIn</span></a></li>
          <li><a href="https://github.com/PKoin" title="Julien sur Github"><i class="fa fa-github"></i><span class="sr-only">Julien sur Github</span></a></li>
          <li><a href="http://pkoin.github.io" title="Site personnel de Julien"><i class="fa fa-pencil"></i><span class="sr-only">Site personnel de Julien</span></a></li>
        </ul>
      </div>
      <div class="col-sm-6 team-member">
        <img src="{{ site.baseurl }}/images/goulven.jpg" alt="Goulven Champenois" class="img-responsive img-circle">
        <h3 class="h4">Goulven Champenois</h3>
        <p class="bio">J'aime créer des sites et applications accessibles au plus grand nombre, performants, utilisables. J'aime creuser différents sujets, donner des conférences, et contribuer à des projets utiles.</p>
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/goulvench" title="Goulven sur Twitter"><i class="fa fa-twitter"></i><span class="sr-only">Goulven sur Twitter</span></a></li>
          <li><a href="https://fr.linkedin.com/in/goulvenchampenois" title="Goulven sur LinkedIn"><i class="fa fa-linkedin"></i><span class="sr-only">Goulven sur LinkedIn</span></a></li>
          <li><a href="https://speakerdeck.com/goulvench" title="Goulven sur Speakerdeck"><i class="fa fa-object-group"></i><span class="sr-only">Goulven sur Speakerdeck</span></a></li>
          <li><a href="https://github.com/goulvench" title="Goulven sur Github"><i class="fa fa-github"></i><span class="sr-only">Goulven sur Github</span></a></li>
        </ul>
      </div>
      <div class="col-sm-6 team-member">
        <img src="{{ site.baseurl }}/images/quentin.jpg" alt="Quentin Basset" class="img-responsive img-circle">
        <h3 class="h4">Quentin Basset</h3>
        <p class="bio">Issu de la génération du Web et des nouvelles technologies, je suis un passionné de ces domaines. À Ochelys, je gère les serveurs, je développe les projets, et forme les utilisateurs.</p>
        <ul class="list-inline social-buttons">
          <li><a href="https://www.linkedin.com/in/quentin-basset-528075112/" title="Quentin sur LinkedIn"><i class="fa fa-linkedin"></i><span class="sr-only">Quentin sur LinkedIn</span></a></li>
          <li><a href="https://github.com/quentinbt" title="Quentin sur Github"><i class="fa fa-github"></i><span class="sr-only">Quentin sur Github</span></a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-sm-offset-3 team-member">
        <img src="{{ site.baseurl }}/images/jeremy.jpg" alt="Jérémy Styczen" class="img-responsive img-circle">
        <h3 class="h4">Jérémy Styczen</h3>
        <p class="bio">Développeur Front-End et designer, je crée des applications web personnalisées en me concentrant sur la conception de l’interface et l’animation. J'explore les technologies <abbr>SVG</abbr>, <abbr>CSS</abbr>, et les langages Back-End pour pouvoir intervenir de manière polyvalente. J'adore voyager et jouer de la musique.</p>
        <ul class="list-inline social-buttons">
          <li><a href="https://www.linkedin.com/in/jeremystyczen/" title="Jérémy sur LinkedIn"><i class="fa fa-linkedin"></i><span class="sr-only">Jérémy sur LinkedIn</span></a></li>
        </ul>
      </div>
      <div class="col-sm-6 team-member">
        <img src="{{ site.url }}/images/giraffe.jpg" alt="Giraffe" class="img-responsive img-circle">
        <h3 class="h4">Et vous&nbsp;?</h3>
        <p class="bio">Vous aimez le code expressif et la qualité logicielle, livrer des fonctionnalités priorisées, découvrir de nouvelles <span lang="en">stacks</span> techniques&nbsp;? C'est notre quotidien.
          Vous cherchez un environnement agréable et une équipe compétente&nbsp;? Nous sommes ouverts et accueillants, nous pratiquons les méthodes agiles et privilégions le dialogue et la transparence. Rejoignez-nous&nbsp;!</p>
        <p class="bio">Postulez sur <a href="mailto:hello@ochelys.com">hello@ochelys.com <i class="fa fa-envelope-o"></i></a></p>
        <p class="bio text-muted">#<abbr>PHP</abbr> #<span lang="en">Ruby on Rails</span> #JavaScript #React #Angular #Ionic #IOT #UX #DevOps…</p>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contactez-nous</h2>
        <p>Vous avez un projet ou une question&nbsp;?</p>
        <p><a href="mailto:hello@ochelys.com" class="btn btn-primary btn-lg contact"><i class="fa fa-inbox"></i> hello@ochelys.com</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading">Où nous trouver&nbsp;?</h3>
        <address class="text-muted">
          2 Rue Professeur Zimmermann<br>
          69007 Lyon<br>
        </address>
        <a class="btn btn-default" href="https://goo.gl/maps/AMbCAnD86RN2">Voir sur <i class="fa fa-map-marker"></i> <span lang="en">Google Maps</span></a>
      </div>
    </div>
  </div>
</section>

<section id="nos-partenaires" class="bg-black">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Nos partenaires</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-2 col-sm-offset-2">
        <a href="http://lyon.clubagilerhonealpes.org/" class="thumbnail">
          <img src="{{ site.baseurl }}/images/partenaires/cara-lyon.png" alt="Club Agile Rhône-Alpes">
        </a>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="http://www.collectif-designersplus.fr/" class="thumbnail">
          <img src="{{ site.baseurl }}/images/partenaires/designers-plus.png" alt="Collectif Designers+" class="img-responsive">
        </a>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="http://www.imaginove.fr/" class="thumbnail">
          <img src="{{ site.baseurl }}/images/partenaires/imaginove.png" alt="Imaginove" class="img-responsive">
        </a>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="http://i-carecluster.org/" class="thumbnail" lang="en">
          <img src="{{ site.baseurl }}/images/partenaires/cluster-icare.png" alt="Cluster ICare" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
</section>
