---
layout: default
---

<div class="jumbotron jumbotron-default-image">
  <div class="container">
    <h1 class="jumbotron-title">{{ page.title }}</h1>
    <p class="jumbotron-text">{{ page.description }}</p>
  </div>
</div>

<div class="container"> 
  <div class="row"> 
    {% for project in page.realisations %}
    <div class="col-xs-12 col-md-6">
      <div class="media well">
        <div class="media-left">
          <a href="{{ site.baseurl }}/projets/{{ project.path }}">
            <img src="{{ site.baseurl }}/images/projects/{{ project.logo }}" alt="{{ project.name }}" class="media-object img-responsive" />
          </a>
        </div>
        <div class="media-body">
          <h2 class="media-heading">{{ project.name }}</h2>
          <p>{{ project.description }}</p>
          <a href="{{ site.baseurl }}/projets/{{ project.path }}" class="btn btn-primary" title="{{ project.name }}">Plus d'infos</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  <h2>Nous avons aussi collaboré avec…</h2>
  <ul class="list-unstyled row">
    {% for client in page.clients %}
    <li class="col-xs-3 col-md-2"><span class="thumbnail"><img src="{{ site.baseurl }}/images/clients/{{ client.img_src }}" alt="{{ client.name }}" /></span></li>
    {% endfor %}
  </ul>
</div>

