---
layout: default
---

<article>
  <div class="jumbotron" style="background-image: url({{ site.baseurl }}/images/projects/{{ page.cover }})">
    <div class="container">
      <img src="{{ site.baseurl }}/images/projects/{{ page.logo }}" alt="{{ page.title | strip_html | normalize_whitespace | escape }}" class="jumbotron-img img-responsive" />
      <div class="jumbotron-well">
        <h1 class="jumbotron-title">{{ page.title }}</h1>
        <p class="jumbotron-text">{{ page.description }}</p>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <h2>Notre intervention</h2>
      <h2>Résultats</h2>
    </div>
  </div>
</article>