---
layout: default
---

<article>
  <div class="jumbotron" style="background-image: url({{ site.baseurl }}/images/projects/{{ page.cover }})">
    <div class="container">
      <img src="{{ site.baseurl }}/images/projects/{{ page.logo }}" alt="{{ page.title | strip_html | normalize_whitespace | escape }}" class="jumbotron-img img-responsive" />
      <div class="jumbotron-well">
        <h1 class="jumbotron-title">{{ page.title }}</h1>
        <p class="jumbotron-text">{{ page.description }}</p>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <h2>Notre intervention</h2>
      {% if page.intervention %}
      <p class="text-center">{{ page.intervention }}</p>
      {% endif %}
      {% for step in page.steps %}
      <div class="media well step">
        <div class="media-body">
          <h3 class="media-heading"><span class="step-number">{{ forloop.index }} </span>{{ step.title }}</h3>
          <p>{{ step.description }}</p>
        </div>
        {% if step.img %}
        <div class="media-right">
          <img src="{{ site.baseurl }}/images/projects/{{ step.img }}" alt="{{ step.title | strip_html | normalize_whitespace | escape }}" class="step-img img-responsive" />
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="bg-black">
    <div class="container">
      <h2>Résultats</h2>
      <div class="well">{{ content }}</div>
    </div>
  </div>
  <div class="bg-light-gray">
    <div class="container">
      <p class="back-link"><a href="/realisations/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Retour aux réalisations</a></p>
    </div>
  </div>
</article>